html, body {
    padding: 0;
    margin: 0;
}

.tile {
    border-radius: 7.5px;
}

.button {
    background-color:RoyalBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 25px;
}

.button:hover {
    background-color: rgb(76, 76, 231);
    transform: scale(1.1);
}